[alias]
	branch-name = rev-parse --abbrev-ref HEAD
	st  = status
	pf  = !git push -f origin $(git branch-name)
	p   = push
        ur  = pull --rebase
        u   = pull
	ci  = commit -m
	bom = branch -u origin/master
	ad  = add -p
	co  = checkout
[push]
	default = simple
